// Global Typography
h1 {
  margin-top: 20px;
}
a.permalink {
  color: $body-font-color;
  span {
    color: $body-bg;
  }
  &:hover {
    color: $primary-color;
    span {
      color: #D5D4D2;
    }
  }
}

// Top Nav
.logo img {
  max-height: 45px;
}

// Home Page
.home {
  .intro {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h2 {
    padding-top: 20px;
  }
}

// Global Question lists
dl {
  dt {
    padding-top: 10px;
    border-top: 1px solid #E6E6E6;
    position: relative;
    &:before {
      content: "\25B9";
      padding: 0 5px 0 0;
    }
  }
  ul.attachments {
    @include inline-list;
  }
}

// Questions List
dd {
  max-height: 120px;
  position: relative;
  overflow: hidden;
  .read-more {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: right;
    margin: 0; padding: 0;
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
    background-image: -webkit-linear-gradient(top, transparent, white);
    background-image: -moz-linear-gradient(top, transparent, white);
    background-image: -ms-linear-gradient(top, transparent, white);
    background-image: -o-linear-gradient(top, transparent, white);
    a {
      font-size: 13px;
      background: #fff;
      padding: 5px 10px;
    }
  }
}

// Topics List
.topics {
  @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 2,

      // This controls how much space is between each item in the block grid.
      // Use a variable or any pixel or em values.
    $spacing: $block-grid-default-spacing,

      // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
  margin-bottom: 40px;
  li {
    border: 1px dotted #E3E2E0;
    padding: 5px 10px;
  }
  .ct {
    float: right;
  }
}
