// Global Typography
h1 { margin-top: 20px; }
a.permalink {
  color: $body-font-color;
  span { color: $body-bg; }
  &:hover {
    color: $primary-color;
    span { color: #D5D4D2; }
  }
}

// Top Nav
.logo img { max-height: 45px; }
nav i {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}

// Home Page
.home {
  .intro {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h2 { padding-top: 20px; }
}

.content-container {
  padding: 0 20px;
}

// Global Question lists
dl {
  .active {
    background-color: #fcf8e3;
    border: none;
  }
  dt {
    padding: 10px;
    margin: 0;
    border-top: 1px solid #E6E6E6;
    position: relative;
    font-size: 1.2rem;
    &.active:before { content: "\25BE"; }
    &:before {
      content: "\25B8";
      padding: 0 5px 0 0;
    }
    a.permalink { color: darken($primary-color, 10%) }
  }
  ul.attachments {
    @include inline-list;
  }
  // Questions List
  dd {
    padding: 10px 10px 10px 35px;
    max-height: 120px;
    position: relative;
    overflow: hidden;
    &:hover { cursor: pointer; }
    &.active:hover { cursor: default; }
    .read-more {
      position: absolute;
      bottom: 0; left: 0;
      width: 100%;
      text-align: right;
      margin: 0; padding: 0;
      background-color: rgba(0, 0, 0, 0);
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ffffff)); /* Chrome, Safari 4+ */
      background-image: -webkit-linear-gradient(top, transparent, #ffffff); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
      background-image:    -moz-linear-gradient(top, transparent, #ffffff); /* Firefox 3.6-15 */
      background-image:      -o-linear-gradient(top, transparent, #ffffff); /* Opera 11.10-12.00 */
      background-image:         linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255,255,255, 0.7)); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
      a { color: #fff; }
    }
  }
}

// Topics List
.topics {
  @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 2,

      // This controls how much space is between each item in the block grid.
      // Use a variable or any pixel or em values.
    $spacing: $block-grid-default-spacing,

      // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
  padding: 0 20px;
  margin-bottom: 40px;
  li {
    border: 1px dotted #E3E2E0;
    padding: 5px 10px;
  }
  .ct { float: right; }
}

#scrollup {
  padding: 10px;
  display: block;
}