// Global Typography
h1 {
  margin-top: 20px;
}
a.permalink {
  color: $body-font-color;
  span {
    color: $body-bg;
  }
  &:hover {
    color: $primary-color;
    span {
      color: #D5D4D2;
    }
  }
}

.logo {
  max-height: 45px;
}

// Main content on small devices (phone)
@media #{$small-only} {

  .content {
    @include grid-column(12, $float:left);
  }

  .sidebar {
    display: none;
  }

}

// Main content on tablet and up
@media #{$medium-up} {

  // Top Navigation bar
  .top-bar li {
    border-left: 1px solid #4D4D4D;
    border-right: none;
  }

  .content {
    @include grid-column(9, $float:left);
  }

  .sidebar {
    @include grid-column(3, $float:left);
  }

}

// Global Question lists
dl {
  dt {
    padding-top: 10px;
    border-top: 1px solid #E6E6E6;
    position: relative;
    &:before {
      content: "\25B9";
      padding: 0 5px 0 0;
    }
  }
  ul.attachments {
    @include inline-list;
  }
}
@media #{$small-only} {
  dl span { display: none; }
}

// Topics List
.topics {
  @include block-grid(
    // This controls how many elements will be on each row of the block grid. Set this to whatever number you need, up to the max allowed in the variable.
    // Available options: 1-12 by default, and false.
    $per-row: 2,

      // This controls how much space is between each item in the block grid.
      // Use a variable or any pixel or em values.
    $spacing: $block-grid-default-spacing,

      // This controls whether or not base styles come through, set to false to leave out.
    $base-style: true
  );
  margin-bottom: 40px;
  li {
    border: 1px dotted #E3E2E0;
    padding: 5px 10px;
  }
  .ct {
    float: right;
  }
}

// Global Footer
footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  @include grid-row($behavior: false);

  .copy {
    @include grid-column(12, $float:left);
  }

  a {
    border: 0;
    text-decoration: none;
    color: #aaa;
  }

  img {
    width: 75px;
    height: 26px;
  }
}
