.sidebar {
  @include side-radius('bottom');
  padding: 32px 20px;
  background: #FAFAFA;
  .heading {
    padding: 2px 0px;
    text-transform: uppercase;
  }
  li.divider {
    margin: 16px 0px;
  }
  h5 {
    padding: 4px 0px;
    font-size: 0.77778rem;
    font-weight: bold;
  }
}
