@import "foundation/functions";

$fi-path: "../../fonts";

$base-font-size: 100%;

// The $base-line-height is 100% while $base-font-size is 150%
$base-line-height: 150%;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: false;
$include-print-styles: false;
$include-html-global-classes: $include-html-classes;

// Grid

$include-html-grid-classes: $include-html-classes;

$row-width: rem-calc(1000);
$column-gutter: rem-calc(30);
$total-columns: 12;

// We use these to control various global styles
$body-bg: #f5f5eb;
$body-font-color: #7b7b84;
$body-font-family: 'Open Sans', sans-serif;
$body-font-weight: normal;
$body-font-style: normal;

// We use this to control font-smoothing
$font-smoothing: antialiased;

// We use these to control text direction settings
$text-direction: ltr;
$opposite-direction: right;
$default-float: left;

// We use these as default colors throughout
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

// Media Query Ranges
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

//
// TOP BAR
//

$include-html-top-bar-classes: true;

// Background color for the top bar
$topbar-bg-color: #fff;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: 70px;
$topbar-margin-bottom: 0;

// Control Input height for top bar

// Controlling the styles for the title in the top bar
$topbar-title-weight: normal;
$topbar-title-font-size: rem-calc(17);

// Style the top bar dropdown elements
$topbar-dropdown-bg: #F5F5F5;
$topbar-dropdown-link-color: #c1c1c0;
$topbar-dropdown-link-bg: #fff;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #F5F5F5;
$topbar-dropdown-toggle-alpha: 1; //0.4;

// Set the link colors and styles for top-level nav
$topbar-link-color: #C1C1C0;
$topbar-link-color-hover: #ccc;
$topbar-link-color-active: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-hover: #fff;
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-active-hover: darken($primary-color, 5%);
$topbar-link-font-family: $body-font-family;

$topbar-button-font-size: 0.75rem;

$topbar-dropdown-label-color: #707070;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: bold;
$topbar-dropdown-label-font-size: rem-calc(10);
$topbar-dropdown-label-bg: #333;

// Top menu icon styles
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #fff;
$topbar-menu-icon-color: #fff;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

// Transitions and breakpoint styles
$topbar-transition-speed: 300ms;
// Using rem-calc for the below breakpoint causes issues with top bar
$topbar-breakpoint: #{upper-bound($medium-range)}; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{upper-bound($medium-range)})";

// Divider Styles
$topbar-divider-border-bottom: none;
$topbar-divider-border-top: none;
